{% extends 'base.html'%}
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static' , filename='css/index.css')}}">
{% endblock %}
{% block content %}
<h1 class="text-center">  WELCOME TO PITCH</h1>
<h3 class="text-center">ABOUT US</h3>

<p class="text-center">In life ,it only takes a short while for you to make an impression on someone.It may take even sixty second for someone to assume your personality.<br>Therefore it is crucial that you use your time wisely and make the most of the short time available and make a first good impression.We come in handy to help you improve<br> on this by guiding you on how to structure your pitches in order to impress those who are listening to you.You will be sure to impress anyone after using our application</p>
{% endblock%}  