<!DOCTYPE html>
<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"> Pitch</a>
    </div>
    <div class="navbar-collapse collapse">
      <div class=" dropdown">
        <button class="dropdown-toggle">CATEGORIES</button>
        <div class="dropdown-menu">
          <a href="/product">PRODUCT PITCHES</a>
          <a href="/interview">INTERVIEW PITCHES</a>
          <a href="/promotion">PROMOTION PITCHES</a>
          <a href="/motivation">MOTIVATION PITCHES</a>
        </div>
      </div>
    </div>
    <div class="navbar-right">
      <button class="btn btn-xs">SIGN IN</button>
    </div>
  </div>
</div>   
   