{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles%}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static' , filename='css/index.css')}}">
{% endblock %}
{%block content%}
<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{pitch.title}}</h3>
        <p class="card-text">{{pitch.description}}</p>
        <hr>
        <p class="card-text">by {{pitch.user.username| capitalize}}</p>
        {% if current_user.is_authenticated %}
        <a href="/pitch/{{pitch.id}}?upvote=1">
          <button class="btn-xs btn-success">UPVOTE</button>
        </a><span class="fa-2x">{{pitch.upvotes}}</span>
        <a class="ml-3" href="/pitch/{{pitch.id}}?downvote=1">
          <button class="btn-xs btn-danger">DOWNVOTE</button>
        </a><span class="fa-2x">{{pitch.downvotes}}</span>
        <h4>Comments</h4>
          <hr>
          {{ wtf.quick_form(comment_form) }}
          
          {%for comment in comments%}
            <h4>{{comment.user.username}} : {{comment.content}}</h4>
          {%endfor%}
        {% endif %}  
    </div>
  </div>
</div>        
{%endblock%}